<div class="row">
 <div class="col-xs-12">
    <img [src]="respToShow.imagePath" alt="{{respToShow.name}}" class="img-responsive">
 </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{respToShow.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button type="button" 
      class="btn btn-primary dropdown-toggle">
      Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click) ="addRecipeToShoppingList()">To Shopping List</a></li>
        <li><a (click)="editTheRecpie()">Edit Recipe</a></li>
        <li><a>Delete Rescipe</a></li>
       </ul>
    </div>
  </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <ul>
            <li *ngFor="let rlIngredients of respToShow.ingredient">
              {{rlIngredients.name}} - {{rlIngredients.amount}}

            </li>
          </ul>
        </div>
  </div>